---
import { experiencia } from "../../public/data.json";
const { name } = experiencia;
---

<section>
  <h1 class="text-black mb-3 text-2xl font-extrabold">Experiencia</h1>

  {
    experiencia.map(({ name, position, startDate, endDate, summary }) => {
      return (
        <article class="mt-5">
          <h3 class="text-black font-medium">{name}</h3>
          <div class="flex justify-between items-center">
            <h3 class="text-black ">{position}</h3>
            <p class="font-light text-sm text-slate-500">
              {startDate} - {endDate}
            </p>
          </div>
          <p class="font-light text-lg text-slate-500">{summary}</p>
        </article>
      );
    })
  }
</section>
