---
import { nombre, descripcion, direccion, iconos } from "../../public/data.json";
import Github from "../icons/Github.astro";
import Mail from "../icons/Mail.astro";
---

<header class="grid grid-cols-2 h-64">
  <h1 class="pt-5 text-2xl font-extrabold">{nombre}</h1>
  <section>
    <p class="col-start-1 text-pretty text-slate-800">{descripcion}</p>
    <p class="font-light text-sm text-slate-500">{direccion}</p>
  </section>
  <img
    src="./foto-perfil.jpeg"
    class="col-start-2 bg-black row-span-2 row-start-1 w-[150px] justify-self-end self-center rounded-md size-5/6"
  />
  <footer class="col-span-2 flex gap-2 w-3/5">
    <a
      href={iconos.Github}
      title={`Github`}
      target="_blank"
      rel="noopener noreferrer"
      class="w-[25px] flex items-center"
    >
      <Github class="w-full h-full" />
    </a>
    <a
      href={`mailto:${iconos.Mail}`}
      title={`Enviame un Mail`}
      target="_blank"
      rel="noopener noreferrer"
      class="w-[25px] flex items-center"
    >
      <Mail class="w-full h-full" />
    </a>
    <p>iconos</p>
  </footer>
</header>
